/backend/all-in-rag/
/backend/rag_anything/
/backend/rag/
/DeepSeek-OCR/
/LangGraph-Chatchat/
交易招标文件.pdf
node_modules
build
/rag_storage/
__pycache__/
uploads
backend/static/
package-lock.json
package.json
/.vscode/
backend/data/
swap.txt